.testimonial-section {
  margin: 100px 0;
  padding: 100px 0;
}
.testimonial-section .testimonial-container{
  padding: 0 20px;
}
.testimonial-item {
  /* margin-right: unset!important; */
}
.testimonial-section .testimonial-content .testimonial-item p {
  font-size: 15px;
  color: var(--dark-text);
  margin-bottom: 30px;
}
.testimonial-section .testimonial-content .testimonial-item .testimonial-user {
  display: flex;
  gap: 20px;
  align-items: center;
}
.testimonial-section
  .testimonial-content
  .testimonial-item
  .testimonial-user
  img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.testimonial-section
  .testimonial-content
  .testimonial-item
  .testimonial-user
  div {
}
.testimonial-section
  .testimonial-content
  .testimonial-item
  .testimonial-user
  div
  h5 {
}
.testimonial-section
  .testimonial-content
  .testimonial-item
  .testimonial-user
  div
  p {
    margin-bottom: unset;
}

.random-div {
  background-color: rgb(182, 182, 182);
  border: 1px solid blue;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.testimonial-item {
  /* background: #1ff; */
  padding: 30px;
  position: relative;
}
.testimonial-item .quote-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 45px;
  z-index: 1;
  color: #ff45398a;
}
.testimonial-item .quote-right{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 45px;
  z-index: 1;
  color: #ff45398a;
}
.item-container {
  padding: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  position: relative;
}
.item-container::before,
.item-container::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background: #fff;
}

.item-container::before {
    top: -1px;
    left: -1px;
    border-top-left-radius: 10px;
}

.item-container::after {
    bottom: -1px;
    right: -1px;
    border-bottom-right-radius: 10px;
}
.bear-react-carousel__nav-icon:after {
  content: "ã";
  font-size: 25px;
  /* font-weight: bold; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.bear-react-carousel__nav-group>.bear-react-carousel__nav-prev-button {
  left: -40px;
}
.bear-react-carousel__nav-group>.bear-react-carousel__nav-next-button {
  right: -40px;
  transform: rotate(180deg);
}
.bear-react-carousel__nav-icon {
  background: #e9e9e9b5;
  height: 30px;
  width: 30px;
  border-radius: unset;
}

.bear-react-carousel__nav-group>.bear-react-carousel__nav-next-button {
  right: 35px!important;
}
.bear-react-carousel__nav-group>.bear-react-carousel__nav-prev-button {
  left: 35px!important;
}
.bear-react-carousel__nav-button {
  background-color: rgb(234 234 234);
}