.instructors-container{
    padding: 0 10px;
}
.featured-instructors-btn{
    text-align: center;
    margin-top: 50px;
}
.featured-instructors-btn button{
    width: 200px;
    height: 50px;
    background: var(--button-color);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: var(--white-text);
    cursor: pointer;
    transition: .3s;
}
.featured-instructors-btn button:hover{
    background: var(--button-color-hover);
}